venv/
bin/build/
bin/towerdev-cli.spec
bin/__pycache__
bin/dist/
towerdev/__pycache__
build/supplementals/postgresql
build/supplementals/postgresql96
build/supplementals/simplesamlphp
build/supplementals/scripts
build/ansibletower/centos7/supplementals/*
build/ansibletower/centos7/inventory/demo_hosts
build/ansibletower/centos7/inventory/puppets
build/ansibletower/centos7/inventory/reflectors
build/ansibletower/centos7/inventory/inventory.zip
build/ansibletower/centos7/misc/misc.zip
build/ansibletower/centos8/supplementals/*
build/ansibletower/centos8/inventory/demo_hosts
build/ansibletower/centos8/inventory/puppets
build/ansibletower/centos8/inventory/reflectors
build/ansibletower/centos8/inventory/inventory.zip
build/ansibletower/centos8/misc/misc.zip
build/ansibletower/nightly_centos7
build/ansibletower/nightly_centos8
